.navbar {
    font-family: 'Oswald', sans-serif;
    font-size: 0.8em;
    background-color: #212478;
}

h2 {
font-family: 'Oswald', sans-serif;
font-weight: 700;
font-size: 1.3em;
}

h3 {
    font-family: dirtstorm, sans-serif;
    font-weight: 400;
    font-size: 1.8em;
    font-style: normal;
    
}

a {
    color: #A91FB5;
    text-decoration: underline;

}
p{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

.bg1{
    background-image:url("images/backgroundheader.jpg");
    background-size:cover;
    height: 60vh;
    
    }
.mainhead {
    color: white;
    font-family: dirtstorm, sans-serif;
    font-weight: 400;
    font-size: 2.3em;
    font-style: normal;

}

.secondaryhead {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;

}

.titletext {
    padding-top: 25px;
}

.pad20 {
padding-top: 20px;
padding-bottom: 20px;
}

.pad15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.pad30 {
padding-top: 30px; 
padding-bottom: 30px;
}

.bg2 {
    background-image: url("images/altbg2.jpg")
}

.blue {
    color: #212478;
}

.whattext {
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 1.7em;
    font-weight: 700;
}

.bg3 {
    background-image: url("images/bg3.jpg");
    padding-bottom: 20px;
}
.bannerstyle {
    color:white;
    text-align: center;
    font-family: dirtstorm, sans-serif;
    font-weight: 400;
    font-size: 2.4em;
    font-style: normal;
    padding-top: 15px;
    padding-bottom: 15px;

    
}

.banner {
    background-color:#E73DC2;

}

.bio {
    background-color: #212478;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;

}
.btn-style {
    background-color:#A91FB5;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.bannersocial {
    background-color: #CCEFFD;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 0.8em;
}

.padright {
    padding-right: 10px;
}

.padleftbutton {
    padding-left: 10px;
}

.eventslink {
    font-family: dirtstorm, sans-serif;
    font-weight: 400;
    font-size: 2em;
    font-style: normal;
    color: #A91FB5;
}
.footer {
    background-color: #212478;
    color: white;
    padding-top: 20px;
    font-size: 0.8em;
    font-family: 'Oswald', sans-serif;
}

#parallelogram {
    margin: auto;
    height: auto;
    background: #E73DC2;
    clip-path: polygon(60px 4.80%, 99.51% 4.71%, 98.85% 83.01%, 36px 80.73%);
    padding: 30px;
}

#bioshaperight {
margin: auto;
height: auto;
background: #212478;
clip-path: polygon(2px 17.3%, 99.39% 6.19%, 94.02% 90.8%, 4px 83.63%);
padding: 30px
}

#bioshapeleft {
    margin: auto;
    height: auto;
    background: #212478;
    clip-path: polygon(1px 4.61%, 99.85% 12.22%, 99.63% 85.37%, 31px 89.67%);
    padding: 30px;
}